{% extends "base.html" %}
{% block body %}
<div class="container my-5">
<p>This is your Profile <button type="button" class="btn btn-primary">{{user.username}}</button></p>



<h2>POSTS</h2> by you
<div class="row m-4 ">
    {% for i in task %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.desc}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock body %}